---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: gitea

resources:
  - namespace.yaml
  - secrets.yaml
  - pvc.yaml
  - postgres.yaml
  - deployment.yaml
  - service.yaml
