---
# Playbook: Join worker nodes to the cluster

- name: Get worker join command
  hosts: rpi-1
  become: true
  tasks:
    - name: Read worker join command
      slurp:
        src: /root/worker-join-command.txt
      register: worker_join_command_file

    - name: Set join command fact
      set_fact:
        worker_join_command: "{{ worker_join_command_file.content | b64decode | trim }}"

- name: Join worker nodes
  hosts: workers
  become: true
  tasks:
    - name: Check if node is already part of cluster
      stat:
        path: /etc/kubernetes/kubelet.conf
      register: kubelet_conf

    - name: Join worker to cluster
      command: "{{ hostvars['rpi-1']['worker_join_command'] }}"
      when: not kubelet_conf.stat.exists
