---
# Playbook: Deploy NGINX Ingress Controller
# Standard Kubernetes Ingress implementation

- name: Deploy NGINX Ingress Controller
  hosts: rpi-1
  become: true
  vars_files:
    - ../group_vars/all.yaml
  vars:
    ingress_nginx_version: "1.11.0"
  tasks:
    - name: Create ingress manifests directory
      file:
        path: /root/manifests/ingress-nginx
        state: directory
        mode: '0755'

    - name: Deploy NGINX Ingress Controller
      command: >
        kubectl apply -f
        https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v{{ ingress_nginx_version }}/deploy/static/provider/baremetal/deploy.yaml
      register: ingress_result
      changed_when: "'created' in ingress_result.stdout"

    - name: Wait for NGINX Ingress Controller to be ready
      command: >
        kubectl wait --for=condition=available deployment/ingress-nginx-controller
        -n ingress-nginx --timeout=300s
      changed_when: false

    - name: Get ingress service NodePort
      command: kubectl get svc ingress-nginx-controller -n ingress-nginx -o jsonpath='{.spec.ports[?(@.name=="http")].nodePort}'
      register: http_port
      changed_when: false

    - name: Get ingress service HTTPS NodePort
      command: kubectl get svc ingress-nginx-controller -n ingress-nginx -o jsonpath='{.spec.ports[?(@.name=="https")].nodePort}'
      register: https_port
      changed_when: false

    - name: Display NGINX Ingress info
      debug:
        msg: |
          NGINX Ingress Controller is running!
          HTTP: http://{{ registry_host }}:{{ http_port.stdout }}
          HTTPS: https://{{ registry_host }}:{{ https_port.stdout }}

          Create Ingress resources to expose services:

          apiVersion: networking.k8s.io/v1
          kind: Ingress
          metadata:
            name: my-app-ingress
            annotations:
              nginx.ingress.kubernetes.io/rewrite-target: /
          spec:
            ingressClassName: nginx
            rules:
              - host: myapp.local
                http:
                  paths:
                    - path: /
                      pathType: Prefix
                      backend:
                        service:
                          name: my-service
                          port:
                            number: 80
