---
# Playbook: Reset/teardown Kubernetes cluster
# WARNING: This will destroy the cluster!

- name: Reset Kubernetes cluster
  hosts: k8s_cluster
  become: true
  tasks:
    - name: Reset kubeadm
      command: kubeadm reset -f
      ignore_errors: yes

    - name: Remove Kubernetes packages
      apt:
        name:
          - kubelet
          - kubeadm
          - kubectl
          - kubernetes-cni
        state: absent
        purge: yes
      ignore_errors: yes

    - name: Remove containerd
      apt:
        name: containerd
        state: absent
        purge: yes
      ignore_errors: yes

    - name: Clean up directories
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - /etc/kubernetes
        - /var/lib/kubelet
        - /var/lib/etcd
        - /etc/cni
        - /opt/cni
        - /var/lib/cni
        - /etc/containerd
        - ~/.kube
        - /root/.kube
        - /etc/apt/sources.list.d/kubernetes.list
        - /etc/apt/keyrings/kubernetes-apt-keyring.gpg
        - /etc/modules-load.d/k8s.conf
        - /etc/sysctl.d/k8s.conf

    - name: Remove CNI interfaces
      shell: |
        ip link delete cni0 2>/dev/null || true
        ip link delete flannel.1 2>/dev/null || true
      ignore_errors: yes

    - name: Clean iptables
      shell: |
        iptables -F && iptables -t nat -F && iptables -t mangle -F && iptables -X
      ignore_errors: yes

    - name: Autoremove unused packages
      apt:
        autoremove: yes
